<div>
  <div>
    <strong>
      Event title would go here
    </strong>
  </div>
  {{event.category}}
  <div class="">
    <small>{{event.dateBlob}}</small>
  </div>
  <hr class="popupRule">
  <div class="btn-group btn-group-sm btn-group-justified" ng-show="!event.mine">
    <a role="button" href="" class="btn btn-primary" style="color:#fff">
      Going (2)
    </a>
    <a role="button" href="" class="btn btn-default">
      Maybe (3)
    </a>
  </div>
  <div class="btn-group btn-group-sm btn-group-justified" ng-show="event.mine && event.inTime">

    <a data-event="{{event}}" role="button" href="" class="editEvent btn btn-primary" style="color:#fff" >
      Edit
    </a>
  </div>
  <div class="popupMessage" ng-show="revealInfo">
    {{event.message}}
  </div>
  <div class="popupMessageToggle">
    <a href="#" ng-show="!revealInfo" ng-click="revealInfo=!revealInfo">More information?</a>
    <a href="#" ng-show="revealInfo" ng-click="revealInfo=!revealInfo">Less information?</a>
  </div>

</div>
