<div ng-cloak>
  <div>
    <strong>
      {{event.title}}
    </strong>
  </div>
  {{event.category}}
  <div class="">
    <small>{{event.dateBlob}}</small>
  </div>
  <div ng-show="event.address !=='Undefined'">
    <small>{{event.address}}</small> <a href="https://www.google.com/maps/dir/Current+Location/{{event.address}}" target="_blank">(directions)</a>
  </div>
  <hr class="popupRule">
  <div class="popupMessage" ng-show="!revealInfo" style="overflow:hidden">
    <span ng-show="event.message.length > 200">{{event.message |  limitTo: 200}}
      <a href="#" ng-click="revealInfo=!revealInfo"> ... more?</a>
    </span>
    <span  ng-show="event.message.length <= 200">{{event.message}}</span>
  </div>
  <div class="popupMessage" ng-show="revealInfo">
    {{event.message}} <a href="#" ng-click="revealInfo=!revealInfo">... less?</a>
  </div>
  <div>
    <strong class="muted">{{event.hashTag}}</strong>
  </div>
  <hr class="popupRule">
  <p ng-show="event.guests !==0">
    <span class="badge badge-default">{{event.guests}} </span> <span ng-show="event.guests === 1">has </span> <span ng-show="event.guests > 1">have</span> signed up.
    <span ng-show="event.definitely !==0 && event.definitely">
      {{event.definitely}} definitely.
    </span>
    <span ng-show="event.maybe !==0 && event.maybe">
      {{event.maybe}} tentatively.
    </span>
  </p>
  <p ng-show="event.guests ===0">
    No one has signed up yet.
  </p>

  <div ng-if="event.owner !=='True' && event.intention">
    <p>
      {{event.intention.intention | capitalize}}. Change?
    </p>
    <div class="btn-group btn-group-sm btn-group-justified">
      <a href="" ng-if="(event.intention.intention !=='going' || event.intention.intention==='declined') && event.inTime" class="btn btn-primary declareIntentPut" style="color:#fff"  data-intention="going" data-event="{{event.url}}" data-respondent="{{event.intention.respondent}}" data-intention-url="{{event.intention.url}}">
      <i class="glyphicon glyphicon-ok"></i>  Going
      </a>
      <a href="" ng-if="(event.intention.intention==='going'  || event.intention.intention==='declined') && event.inTime" class="btn btn-default declareIntentPut" data-intention="maybe" data-event="{{event.url}}" data-respondent="{{event.intention.respondent}}" data-intention-url="{{event.intention.url}}">
        <i class="glyphicon glyphicon-question-sign"></i> Maybe
      </a>
      <a href="" style="color:#fff" ng-if="(event.intention.intention==='going' || event.intention.intention==='maybe') && event.inTime" class="btn btn-danger declareIntentPut" data-intention="declined" data-event="{{event.url}}" data-respondent="{{event.intention.respondent}}" data-intention-url="{{event.intention.url}}">
        <i class="glyphicon glyphicon-remove"></i> Not going
      </a>
    </div>
  </div>
  <p ng-if="event.owner !=='True' && !event.intention && event.inTime">
    Going?
  </p>
  <div class="btn-group btn-group-sm btn-group-justified" ng-if="event.owner !=='True' && !event.intention && event.inTime">
    <a href="" class="btn btn-primary declareIntentPost" style="color:#fff"  data-intention="going" data-event="{{event.url}}" data-method="POST">
      <i class="glyphicon glyphicon-ok"></i>  Going
    </a>
    <a href="" class="btn btn-default declareIntentPost" data-intention="maybe" data-event="{{event.url}}">
      <i class="glyphicon glyphicon-question-sign"></i> Maybe
    </a>
  </div>
  <div class="btn-group btn-group-sm btn-group-justified" ng-show="event.owner ==='True' && event.inTime">
    <a data-toggle="modal" data-backdrop="static" data-target="#bofModalEdit" data-event="{{event}}" role="button" href="" class="btn btn-primary editEvent" style="color:#fff" >
      Edit
    </a>
  </div>


</div>
