<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ocellus
  </title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <link rel="apple-touch-icon" href="images/apple-touch-icon-180x180.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="css/custom.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css">
  <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
</head>

<body ng-app="ocellus" ng-controller="mapController" ng-class="loggedin ? '': 'entry'" ng-cloak >

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="loggedin" ng-cloak >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ocellusNav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="#">Ocellus</span>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="ocellusNav">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Create Event <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <a href="" ng-click="createEventCurrentlocation()" title="Create event at current location">Create event at current location</a></li>
              <li><a href="" data-toggle="modal" data-target="#coordsLookUpModal" title="Create event at specified address">Create event at specified address</a></li>
            </ul>
          </li>
          <li><a href="" title="Text only view" ng-click="switchModes('text')" class="plainLink"><span class="glyphicon glyphicon-th-list hidden-xs"></span><span class="visible-xs-inline">Text only view</span><span class="sr-only">Text only view</span></a></li>
        </ul>

        <ul class="nav navbar-nav">

        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="visible-lg-inline visible-md-inline">{{category || 'All Events'}}</span>
              <span class="visible-sm-inline">See</span>
              <span class="visible-xs-inline">Events</span>
              <span ng-show="category && category !=='All Events'" class="visible-lg-inline"> Events</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="categories">
              <li ng-repeat="category in event_categories"><a href="#" ng-click="filter_category(category)">{{category}}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="filter_category('All Events')">All Events</a></li>
            </ul>
          </li>
          <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <label for="searchText" class="sr-only">Search events</label>
                <input type="text" id="searchText" class="form-control" placeholder="Search" value="" ng-model="markerFilter">
              </div>
            </form>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="hidden-sm hidden-md">Showing</span>
              <span class="hidden-lg hidden-xs" style="text-transform: capitalize">{{currentView}}</span>
              <span class="hidden-sm hidden-md">{{currentView}}</span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="switchViews('/api/events/current/','current')">Current</a></li>
              <li><a href="" ng-click="switchViews('/api/events/upcoming/','upcoming')">Upcoming</a></li>
              <!--// display a list of events organized by user or for which user has said she has an intention
              commented out as it is in V2.
               TBD: are there any time filters at play here
              <li><a href="" ng-click="showMyEvents()">My events</a></li>
              -->
              <!--
              <li role="separator" class="divider"></li>
              <li><a>Current center: <strong>{{center.lat}} {{center.lng}}</strong> </a></li>
              <li><a>Markers: <strong>{{markersAll.length}}</strong></a></li>
              <li><a>Cat Filtered Markers: <strong>{{markers.length}}</strong></a></li>
              <li><a>Search Filtered Markers: <strong>{{markersFiltered.length}}</strong></a></li>
            -->
            </ul>
          </li>
          <li class="visible-xs-block"><a class="plainLink" href="#"  ng-click="logout()">Logout</a></li>
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"  ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <div class="overlay" ng-hide="online">
    </div>
    <div  class="alert alert-danger alertPanel" ng-hide="online" ngCloak id="offlineAlertPanel" style="display:none">You are offline</div>
    <div class="alert {{alert.type}} alert-dismissible alertPanel" role="alert" ng-show="alert" style="display:none" id="alertPanel">
      <button type="button" class="close" aria-label="Close" ng-click="dismissAlert()"><span aria-hidden="true">&times;</span></button>
      <p ng-hide="alert.type !=='alert-danger'">
        An error has occurred. Please contact your System Administrator for assistance.
      </p>
      <small>{{alert.message}}</small>
    </div>

    <div ng-show="!loggedin" id="loginPanel" class="logo-login" style="display:none">
      <div class="splash visible-md-block visible-lg-block visible-sm-block">
        <a class="btn btn-lg btn-um" style="font-size:25px" onclick="window.location.href='/accounts/login/'">Login</a>
      </div>
      <div class="splash splash-small visible-xs-block">
        <a class="btn btn-lg btn-um" style="font-size:25px" onclick="window.location.href='/accounts/login/'">Login</a>
      </div>

    </div>

    <leaflet lf-center="center" controls="controls" layers="layers" markers="markersFiltered" width="100%"></leaflet>

    <!-- Create Modal -->
    <div class="modal fade" id="bofModal" tabindex="-1" role="dialog" aria-labelledby="bofModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bofModalLabel">Create event</h4>
          </div>
          <div class="modal-body">
            <div ng-include="'views/event-create.html'"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="postBof" ng-click="postEvent()">Add Event</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="bofModalEdit" tabindex="-1" role="dialog" aria-labelledby="bofModalEditLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bofModalEditLabel">Edit Event</h4>
          </div>
          <div class="modal-body">
            <div ng-include="'views/event-edit.html'"></div>
          </div>
          <div class="modal-footer container-flex">
            <div class="row">
              <div class="col-lg-6">
                <button type="button" class="btn btn-danger pull-left" ng-click="eventEditCancel()">Cancel Event</button>
              </div>
              <div class="col-lg-6">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="eventEditPost()">Save Event</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- My Events Modal -->
    <div class="modal fade" id="myEventsModal" tabindex="-1" role="dialog" aria-labelledby="myEventsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myEventsLabel">My Events</h4>
          </div>
          <div class="modal-body">
            <div ng-include="'views/myevents.html'">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Coords LookUp Modal -->
    <div class="modal fade" id="coordsLookUpModal" tabindex="-1" role="dialog" aria-labelledby="coordsLookUpLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="coordsLookUpLabel">Specify Address</h4>
          </div>
          <div class="modal-body">
            <div ng-include="'views/coords-lookup.html'"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- all libraries compressed - see bower.json for manifest-->
    <script src="js/dist/all-vendor.min.js"></script>
    <!-- polyfiller did not worked concatenated -->
    <script src="bower_components/webshim/js-webshim/minified/polyfiller.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAdDEnwa5coKM-lzMb9Mn3GKdGvQPFnOKo"></script>
    <!-- grunt concatenated app files -->
    <script src="js/dist/all.min.js"></script>

  </div>

</body>

</html>
