<!DOCTYPE html>
<html ng-app="ocellus" lang="en">

<head>
  <meta charset="utf-8">
  <title>Ocellus
  </title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon-180x180.png" />
  <link rel="stylesheet" href="css/custom.css" media="screen" title="no title">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
</head>
<body ng-controller="mapController" ng-cloak>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ocellusNav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">Ocellus</span>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="ocellusNav">
        <ul class="nav navbar-nav">
          <li><a href="" data-toggle="modal" data-target="#coordsLookUpModal" title="Input Address" class="plainLink">Create event</a></li>
        </ul>

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter by category <span class="caret"></span></a>
            <ul class="dropdown-menu" id="categories">
              <li ng-repeat="category in event_categories"><a href="#" ng-click="filter_category(category)">{{category}}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="filter_category('all')">All categories</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <label for="searchText" class="sr-only">Search events</label>
            <input  id="searchText" type="text" class="form-control" placeholder="Search" value="" ng-model="textEventsFilter">
          </div>
        </form>


        <ul class="nav navbar-nav navbar-right">
          <li><a href="" ng-click="switchModes('map')" class="plainLink">Map</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Showing {{currentView}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="switchViews('/api/events/current/','current')">Current</a></li>
              <li><a href="" ng-click="switchViews('/api/events/upcoming/','upcoming')">Upcoming</a></li>
              <!--// display a list of events organized by user or for which user has said she has an intention
              commented out as it is in V2.
               TBD: are there any time filters at play here
              <li><a href="" ng-click="showMyEvents()">My events</a></li>
              -->
              <!--
              <li role="separator" class="divider"></li>
              <li><a>Current center: <strong>{{center.lat}} {{center.lng}}</strong> </a></li>
              <li><a>Markers: <strong>{{markersAll.length}}</strong></a></li>
              <li><a>Cat Filtered Markers: <strong>{{markers.length}}</strong></a></li>
              <li><a>Search Filtered Markers: <strong>{{markersFiltered.length}}</strong></a></li>
              -->
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="overlay" ng-hide="online">
  </div>
  <div  class="alert alert-danger alertPanel" ng-hide="online" ng-cloak>You are offline</div>
  <div role="main">
    <div id="text_only"></div>
    <div class="alert alert-info" style="margin:10px" ng-show="!textEvents.length" ng-cloak  ng-hide="!online">
      No {{currentView | lowercase}} {{selectedCategory}} events available.
    </div>
    <table class="table" role="presentation">
      <tr ng-repeat="event in textEvents  | orderBy:'startTime'" class="row">
        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:center;vertical-align:middle;background:{{(event.category | textOnlyCategory).background}}">
          <i style="color: #fff;font-size:25px" class="glyphicon glyphicon-{{(event.category | textOnlyCategory).icon}}"></i><br>
        </td>
        <td class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding:10px">
          <h4 class="list-group-item-heading">{{event.title}}</h4>
          <p class="list-group-item-text">
            {{event.category}}
          </p>
          <p class="list-group-item-text">
            <small>{{event.dateBlob}}</small>
          </p>
          <p>
            <span  ng-show="event.guests !==0"><span class="badge badge-default">{{event.guests}} </span> have signed up.</span>
            <span ng-show="event.guests ===0">No one has signed up yet.</span>
          </p>
          <br>
          <p ng-show="event.intention">
            Intention: {{event.intention.intention | capitalize}}
          </p>
          <p class="list-group-item-text">
            {{event.message}}
          </p>
        </td>
        <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right">
          <div ng-show="!event.mine && event.inTime && event.intention">
            <div class="btn-group btn-group-sm">
              <a href="" ng-if="(event.intention.intention !=='going' || event.intention.intention==='declined') && event.inTime" class="btn btn-primary declareIntentPut" style="color:#fff"  data-intention="going" data-event="{{event.url}}" data-respondent="{{event.intention.respondent}}" data-intention-url="{{event.intention.url}}">
                Going
              </a>
              <a href="" ng-if="(event.intention.intention==='going'  || event.intention.intention==='declined') && event.inTime" class="btn btn-default declareIntentPut" data-intention="maybe" data-event="{{event.url}}" data-respondent="{{event.intention.respondent}}" data-intention-url="{{event.intention.url}}">
                Maybe
              </a>
              <a href="" ng-if="(event.intention.intention==='going' || event.intention.intention==='maybe') && event.inTime" class="btn btn-danger declareIntentPut" data-intention="declined" data-event="{{event.url}}" data-respondent="{{event.intention.respondent}}" data-intention-url="{{event.intention.url}}">
                Not
              </a>
            </div>
          </div>
          <div class="btn-group btn-group-sm" ng-show="!event.mine && !event.intention && event.inTime"  style="text-align:right">
            <a href="" class="btn btn-primary declareIntentPost" style="color:#fff"  data-intention="going" data-event="{{event.url}}" data-method="POST">
              Going
            </a>
            <a href="" class="btn btn-default declareIntentPost" data-intention="maybe" data-event="{{event.url}}">
              Maybe
            </a>
          </div>
          <div class="btn-group btn-group-sm" ng-show="event.mine && event.inTime">
            <a data-toggle="modal" data-target="#bofModalEdit" data-event="{{event}}" role="button" href="" class="btn btn-primary editEvent" style="color:#fff" >
              Edit
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>

    <!-- Create Modal -->
    <div class="modal fade" id="bofModal" tabindex="-1" role="dialog" aria-labelledby="bofModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bofModalLabel">Create event</h4>
          </div>
          <div class="modal-body">
            <div ng-include="'views/event-create.html'"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="postEvent()">Add Event</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Edit Modal -->
      <div class="modal fade" id="bofModalEdit" tabindex="-1" role="dialog" aria-labelledby="bofModalEditLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="bofModalEditLabel">Edit Event</h4>
            </div>
            <div class="modal-body">
              <div ng-include="'views/event-edit.html'"></div>
            </div>
            <div class="modal-footer container-flex">
              <div class="row">
                <div class="col-lg-6">
                  <button type="button" class="btn btn-danger pull-left" ng-click="eventEditCancel()">Cancel Event</button>
                </div>
                <div class="col-lg-6">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" ng-click="eventEditPost()">Save Event</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <!-- My Events Modal -->
      <div class="modal fade" id="myEventsModal" tabindex="-1" role="dialog" aria-labelledby="myEventsLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myEventsLabel">My Events</h4>
            </div>
            <div class="modal-body">
              <div ng-include="'views/myevents.html'">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Coords LookUp Modal -->
      <div class="modal fade" id="coordsLookUpModal" tabindex="-1" role="dialog" aria-labelledby="coordsLookUpLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="coordsLookUpLabel">Specify Address</h4>
            </div>
            <div class="modal-body">
              <div ng-include="'views/coords-lookup.html'"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- all libraries compressed - see bower.json for manifest-->
      <script src="js/dist/all-vendor.min.js"></script>
      <!-- polyfiller did not worked concatenated -->
      <script src="bower_components/webshim/js-webshim/minified/polyfiller.js"></script>
      <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAdDEnwa5coKM-lzMb9Mn3GKdGvQPFnOKo"></script>
      <!-- grunt concatenated app files -->
      <script src="js/dist/all.min.js"></script>
  </div>

  </body>

  </html>
