body,
html {
    height: 100%;
    width: 100%;
}
body.entry {
  padding-top:0
}
body.entry  .leaflet-control-container {
  display:none
}
html,
body,
.angular-leaflet-map {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  padding-top:50px
}


nav.navbar {
  background:#00274c
}
.navbar-default .navbar-brand {
  color: #fff !important;
}

.navbar-default a.dropdown-toggle, .plainLink {
  color: #fff !important
}

.navbar-default a.dropdown-toggle:focus, .plainLink:focus {
  outline: 1px dotted #fff
}

.navbar-default .dropdown.open > a{
  color: #000 !important;
  background: #ffcb05 !important;
  outline:none;
}

.navbar-collapse.collapse.in .dropdown-menu a {
  color:#fff !important
}

.navbar-brand {
  background: transparent url(../images/nav-logo.png) 2px 2px no-repeat;
  padding-left:50px !important;
}
.logo-login {
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.splash {
  position: absolute;
  top: 15%;
  width:100%;
  z-index: 1;
  background:transparent url(../images/splash-logo.png) top center no-repeat;
  height:350px;
  padding-top:100px;
  text-align:center;
}
.splash-small {
  background:transparent url(../images/splash-logo-small.png) top center no-repeat;
}

.status {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 1;
    left: 20%;
    right: 20%;
}
.has-error span.req-text, .has-error label {
  color:#c00;
}
.danger {
  color: red;
  font-weight: bold;
}
.muted {
  color:#777
}
.list-group-metadata {
  margin:5px 0;
}
.alert-inline {
  color:#a94442;
  display: inline-block;
}
.popupRule{
  margin:8px 0
}
.popupMessage{
   margin:10px 0
}
.popupMessageToggle{
  margin-top:15px
}
.overlay {
  background: #fff;
  color:000;
  text-align: center
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  padding:200px 20px;
  font-size:30px
}

 .ws-picker-header button[data-action="setMonthList"], .ws-picker-header button[data-action="setYearList"],.ws-picker-header button[data-action="setDayList"] {
   color:#05c  !important;
   text-decoration: underline !important
 }

.ws-po-box button[aria-label="Now"] {
  display: none !important;
}
.btn-um {
  background-color: #00274c;
  border-color: #00274c;
  color:#fff !important;
}
.btn-um:hover, .btn-um:active {
  background-color: #00417f;
  border-color: #00417f;
  color:#fff !important;
}


.leaflet-popup-content {max-width:100%;width:400px}

.alertPanel {
  position:absolute;
  top:80px;
  left:20%;
  right:20%;
  z-index: 1
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .logo-peacock {
    top:5%;
    padding: 200px 0 0 0
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  and (orientation : landscape) {
  .logo-peacock {
    background-position: 10% 50%;
    text-align: right;
    padding: 100px 20px 0 0
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
  .logo-peacock {
    padding: 300px 0 0 0
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
  .logo-peacock {
    background-position: 10% 50%;
    text-align: right;
    padding: 100px 20px 0 0
  }
}
