body,
html {
    height: 100%;
    width: 100%;
}
body {
  margin-top:50px
}

.status {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 1;
    left: 20%;
    right: 20%;
}
.has-error span.req-text, .has-error label {
  color:#c00;
}
