body,
html {
    height: 100%;
    width: 100%;
}
body.entry {
  padding-top:0
}
body.entry  .leaflet-control-container {
  display:none
}
html,
body,
.angular-leaflet-map {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  padding-top:50px
}

.logo-peacock1 {
  position: absolute;
  top: 10%;
  width:100%;
  z-index: 1;
  background:transparent url(../images/peacock-head2.png) center no-repeat;
  height:300px;
}
.login-box {
  text-align:center;
  left: 20%;
  position: absolute;
  right: 20%;
  top: 385px;
  z-index: 1;
  background:transparent;
  height:200px;
}


.status {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 1;
    left: 20%;
    right: 20%;
}
.has-error span.req-text, .has-error label {
  color:#c00;
}

.alert-inline {
  color:#a94442;
  display: inline-block;
}
.popupRule{
  margin:8px 0
}
.popupMessage{
   margin:10px 0
}
.popupMessageToggle{
  margin-top:15px
}

 .ws-picker-header button[data-action="setMonthList"], .ws-picker-header button[data-action="setYearList"],.ws-picker-header button[data-action="setDayList"] {
   color:#05c  !important;
   text-decoration: underline !important
 }

.ws-po-box button[aria-label="Now"] {
  display: none !important;
}
.btn-um {
  background-color: #00274c;
  border-color: #00274c;
  color:#fff !important;
}
.btn-um:hover, .btn-um:active {
  background-color: #00417f;
  border-color: #00417f;
  color:#fff !important;
}


.leaflet-popup-content {max-width:100%;width:400px}

.alertPanel {
  position:absolute;
  top:80px;
  left:20%;
  right:20%;
  z-index: 1
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

@media (max-width: 480px) {
  .leaflet-popup-content {width:auto}
  .logo-peacock1 {
    left: auto;
    width:100%;
    right: auto;
  }
  .login-box {
    width:100%;
    text-align:center;
    left: auto;
    right: auto;
    top: 345px;
    z-index: 1;
    background:transparent;
    height:200px;
  }
}
@media screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation:landscape) {
  .logo-peacock1 {
    left: 25px;
    top:35px;
    width:300px;
    right: auto;
  }
  .login-box {
    text-align:right;
    right: 20%;
    position: absolute;
    left: auto;
    top: 125px;
    z-index: 1;
    background:transparent;
    height:300px;
  }


    /* Portrait and Landscape */
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2) {
      .logo-peacock1 {
        border:1px solid blue
      }
    }

    /* Portrait */
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        .logo-peacock1 {
          border:1px dashed blue
        }

    }

    /* Landscape */
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        .logo-peacock1 {
          border:1px dotted blue

        }



    }

    /* ----------- iPhone 5 and 5S ----------- */

    /* Portrait and Landscape */
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2) {
        .logo-peacock1 {
          border:1px solid orange
        }

    }

    /* Portrait */
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        .logo-peacock1 {
          border:1px dashed orange
        }



    }

    /* Landscape */
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        .logo-peacock1 {
          border:1px dotted orange
        }

    }

    /* ----------- iPhone 6 ----------- */

    /* Portrait and Landscape */
    @media only screen
      and (min-device-width: 375px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2) {
        .logo-peacock1 {
          border:1px solid green;
        }

    }

    /* Portrait */
    @media only screen
      and (min-device-width: 375px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        .logo-peacock1 {
          border:1px dashed green;
        }

    }

    /* Landscape */
    @media only screen
      and (min-device-width: 375px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        .logo-peacock1 {
          border:1px dotted green
        }

    }

    /* ----------- iPhone 6+ ----------- */

    /* Portrait and Landscape */
    @media only screen
      and (min-device-width: 414px)
      and (max-device-width: 736px)
      and (-webkit-min-device-pixel-ratio: 3) {
        .logo-peacock1 {
          border:1px solid back
        }

    }

    /* Portrait */
    @media only screen
      and (min-device-width: 414px)
      and (max-device-width: 736px)
      and (-webkit-min-device-pixel-ratio: 3)
      and (orientation: portrait) {
        .logo-peacock1 {
          border:1px dashed back
        }

    }

    /* Landscape */
    @media only screen
      and (min-device-width: 414px)
      and (max-device-width: 736px)
      and (-webkit-min-device-pixel-ratio: 3)
      and (orientation: landscape) {
        .logo-peacock1 {
          border:1px dotted back
        }
    }
